@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #1e293b;
    --primary: #2563eb;
    --card: #f8fafc;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: inherit;
  @apply antialiased;
}