@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'MahjongColorful';
  src: url('/fonts/Riichi-Mahjong-Colorful.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'MahjongMonochrome';
  src: url('/fonts/Riichi-Mahjong-Monochrome.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


@layer base {
  :root {
    --background: #ffffff;
    --foreground: #1e293b;
    --primary: #2563eb;
    --card: #f8fafc;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: inherit;
  @apply antialiased;
}